<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5V4BSM2Ow7RfOdbrNb9OgTCpOeoVrpF0</string>
	<key>GCM_SENDER_ID</key>
	<string>166344716404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kitchentogether</string>
	<key>PROJECT_ID</key>
	<string>kitchen-chaos</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchen-chaos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166344716404:ios:4764be84570039a2766121</string>
</dict>
</plist>