<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.401.11" />
  <package id="AWSSDK.Lambda" version="3.7.411.34" manuallyInstalled="true" />
  <package id="Amazon.Lambda.Core" version="2.5.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
</packages>